/* Styles for the "Back to Top" button */
.back-to-top-button {
    text-decoration: none;
    position: fixed;
    color: #030303;
    font-weight: bold;
    right: 2rem;
    bottom: 2rem;
    background-color: #CCC;
    border-radius: 50%;
    height: 4%;
    width: 4%;
    border: none;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-to-top-button:hover {
    background: -moz-linear-gradient(-45deg, #02EAFF 0%, #D401D4 100%);
    background: -webkit-linear-gradient(-45deg, #02EAFF 0%, #D401D4 100%);
    background: linear-gradient(135deg, #02EAFF 0%, #D401D4 100%);
    color: #fff;
}

.hidden {
    display: none;
}

/* Styles for the header */
h2,
a,
p {
    color: #fff;
    font-family: Roboto;
    text-decoration: none;
}

p>a {
    color: #08fd1d;
}

.blink {
    animation: blink 0.5s infinite;
}

@keyframes blink {
    to {
        opacity: .0;
    }
}

.flex {
    display: flex;
    align-items: center;
}

.header-sub-title {
    color: #fff;
    font-family: "Courier";
    font-size: 20px;
    padding: 0.1em;
}

/* Styles for the contact form container */
#contact-container {
    background-color: #2F2F2F;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    text-align: left;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

/* Styles for the form elements */
.form-group {
    flex-direction: column;
    width: 100%;
}

label {
    display: flex;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 11px;
    font-size: 15px;
    background-color: #242424;
    color: #fff;
    border: none;
    box-shadow: none;
}

textarea {
    border-radius: 13px;
    height: 100px;
    resize: vertical;
    min-height: 100px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #555;
    color: #cccccc;
    text-decoration: none;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-top: 0.9rem;
}

button:hover {
    background: -moz-linear-gradient(-45deg, #02EAFF 0%, #D401D4 100%);
    background: -webkit-linear-gradient(-45deg, #02EAFF 0%, #D401D4 100%);
    background: linear-gradient(135deg, #02EAFF 0%, #D401D4 100%);
    color: #fff;
}