<div class="progress-bar">
    <a href="#top">
        <button class="back-to-top-button hidden" type="button">
            &uarr;
        </button>
    </a>
</div>
<script>
    const showOnPx = 100;
    const backToTopButton = document.querySelector(".back-to-top-button")

    const scrollContainer = () => {
        return document.documentElement || document.body;
    };

    document.addEventListener("scroll", () => {
        if (scrollContainer().scrollTop > showOnPx) {
            backToTopButton.classList.remove("hidden")
        } else {
            backToTopButton.classList.add("hidden")
        }
    })
</script>